# Virtual environment
my_env/
venv/
.env/
.venv/

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb

# IDE / Editor settings
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Streamlit / Gradio cache
.streamlit/
.gradio/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Build / distribution
build/
dist/
*.egg-info/
